
@charset "utf-8";
/* CSS Document */
html, body, div					{padding:0; margin:0}
body							{background-color:#f9f9f9; font-family:Arial, Helvetica, sans-serif;font-size:12px;line-height:20px;}
.clear							{clear:both; font-size:0px;line-height:0px}

/******************* LOGIN FORM*******************/
#formwrapper 					{ position: absolute; width:360px;height:300px;top:50%;left:50%;margin-top:-150px;margin-left:-180px;}
#formwrapper #loginForm			{ margin: 0 auto;background: #eeeeee; border-radius:10px;}
#loginForm h1					{ font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 26px; color:#333333; line-height:28px; padding:20px 0 5px 20px;}
#loginForm label	 			{float: left; font-size:14px; color:#555; padding:10px 0 0 25px}
#loginForm input				{ float:right;font-family: "Helvetica Neue", Helvetica, sans-serif; font-size: 14px; color: #777; border-radius:5px; border:1px solid #ccc;margin:5px 25px 10px 0; width:190px; padding:10px }
#loginForm input:hover			{ background:#f9f9f9; color:#555}
#loginForm input:focus			{ background:#f9f9f9; color:#555}
#lower							{ height: 69px; padding:10px 25px 0 0; border-top:1px solid #fff; margin:10px 0 0 0 }
#loginForm #lower .submitbtn 	{ float:right; width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold}
#loginForm #lower .submitbtn:hover	{ background:#68c1ff; border:1px solid #666666;}
/******************* LOGIN FORM*******************/
/******************* users page*******************/
.wrapper						{ width:100%; height:auto; margin:0; padding:0}
.container						{ width:960px; margin:0 auto; background-color:#fff; border-left:1px solid #ccc;border-right:1px solid #ccc; border-bottom:1px solid #ccc}
.loginsect						{ text-align:right; padding:10px 15px 10px 0; color:#0862a7;}
.loginsect a					{ text-decoration:none; color:#0862a7; font-size:12px; font-weight:600}
.loginsect a:hover				{ text-decoration:underline}
.menu							{ height:36px; border-top:1px solid #ccc; border-bottom:1px solid #ccc; background-color:#ebebeb}
.menu ul						{ list-style:none; padding:0; margin:0}
.menu ul li						{ float:left; line-height:36px; }
.menu ul li.dropdwn				{ position:relative; z-index:1000;line-height:36px;}
.menu ul li.dropdwn ul			{ display:none; position:absolute;  list-style-type:none; top:100%; margin:1px 0 0 0; padding:0 0 0 0; background:#ebebeb; left:0; border:1px solid #000; border-top:none}
.menu ul li.dropdwn ul li		{ float:left; width:100px; background:#ebebeb; padding:10px 0 10px 0; margin:0; font-size:12px; line-height:12px;}
.menu ul li.dropdwn ul li a		{ border-right:none}
.menu ul li.dropdwn ul li a:hover{ color:#fdac00; padding-bottom:0px}
.menu ul li.dropdwn:hover > ul	{ display:block;}
.menu ul li a					{ text-decoration:none; color:#0976ae; font-size:13px; font-weight:bold; border-right:1px solid #ccc;padding:0 10px 0 10px}
.menu ul li a:hover				{ color:#fdac00 }
.menu ul li a.selected			{ color:#fdac00}
.menu ul li a.last				{ border-right:none}
.userlist 						{ padding:25px}
.inslist						{ width:60%;padding:25px}
.userlist #usrlst,	.inslist table				{ padding:0; margin:0; border-color:#ccc}
.userlist #usrlst tr.evnrow,.inslist table tr.evnrow		{ background-color:#ebebeb}
.userlist #usrlst tr th,.inslist table tr th			{ background:#59b7f9;text-align:left; padding:10px; font-size:14px; color:#fff; font-family:Arial, Helvetica, sans-serif}
.userlist #usrlst tr td,.inslist table tr td			{ text-align:left; padding:10px;}
.userlist #usrlst tr td a,.inslist table tr td a 		{ text-decoration:none; color:#000000}
.tbltxtbox, #datepicker			{ width:200px !important; height:25px !important; padding:0 !important; margin:0 !important; color:#000}
.selectbox						{ width:200px; height:25px; margin:0; padding:0}
.userlist table tr td a:hover	{ text-decoration:underline}
.btmsect						{ padding:0 0 20px 30px; font-size:14px; color:#fff; font-weight:600; font-family:Arial, Helvetica, sans-serif }
.btmsect a						{ text-decoration:none; color:#0862a7}
.btmsect a:hover				{ text-decoration:underline}
.hdnfrm							{ display:none;}
.hdnfrm .newusrfrm				{ padding:0 0 0 30px; width:300px}
.newusrfrm input				{ background:none; padding:5px; margin:0; width:190px; float:right; line-height:25px; margin:5px 0 5px 0;border-radius:5px; border:1px solid #ccc;}
.newusrfrm input:hover			{ background:#f9f9f9; color:#555}
.newusrfrm input:focus			{ background:#f9f9f9; color:#555}
.newusrfrm label				{ float:left; font-size:12px; margin:10px 0 0 0}
.newusrfrm .submitbtn			{ width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; margin:5px 0 10px 0}
.newusrfrm .submitbtn:hover		{ background:#68c1ff; border:1px solid #666666;}
.fltr							{ text-align:right; padding:25px 25px 0 0}
.fltr a							{ text-decoration:none; color:#000}
.fltr a:hover					{ text-decoration:underline}
.edtusrfrm						{ padding:10px 40px }
.edtusrfrm label				{ margin:10px 0 0 0; float:left; font-size:13px;}
.edtusrfrm input				{ border-radius:5px; border:1px solid #ccc;margin:5px 0 6px 0; width:190px; padding:10px; float:right }
.edtusrfrm .submitbtn 			{ float:right; width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold}
.popupBox 						{ display: none; position:absolute; width:400px; left: 50%;top:25%;margin-left:-200px;z-index: 2000;border-radius: 8px; border:1px solid #003366;background:#eeeeee; -moz-box-shadow: 0px 0px 10px 3px #333;
-webkit-box-shadow: 0px 0px 10px 3px #333;
box-shadow: 0px 0px 10px 3px #333;}
.popupBox > .boxheader 			{ background: #59b7f9; padding:10px;color:#FFF;font-weight:bold; font-size:14px; border-radius:8px 8px 0 0}
.popupBox > .boxbody 			{ background: #FFF;padding:10px;color:#000;font-size:12px;}
.popupBox > .boxfooter 			{ background: #F2F2F2;border-top: #003366 1px solid; padding:6px;border-radius:0 0 8px 8px}
.popupBox > .boxbody >h4		{font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 20px; color:#0862a7; padding:10px 0; margin:0}
.boxheader .cancelbtn			{ float:right;}
.boxheader .cancelbtn button	{ background:url(../images/closebtn.png) no-repeat top right; width:30px; height:30px; outline:none; border:0; margin:-5px 0 0 0; cursor:pointer}
.boxbody ul.lostsessn    		{ list-style:none; padding:0; margin:0}
.boxbody ul.lostsessn li   		{ font-size:13px; padding:3px 0}
.btmsect span					{ font-size:13px; font-weight:bold; color:#31b2eb; display:inline; float:left}
.btmsect ul						{ list-style:none; padding:0 0 0 10px; margin:0; float:left}
.btmsect ul li					{ display:inline; padding:0 5px}
.btmsect ul li a				{ text-decoration:none; color:#000; font-size:14px}
.btmsect ul li a:hover			{ text-decoration:underline}
/******************* Attributes Page*******************/
.attrlist 						{ padding:25px 30px}
.attrlist table					{ padding:0; margin:0; border-color:#ccc}
.attrlist table tr.evnrow		{ background-color:#ebebeb}
.attrlist table tr th,.inslist table tr th			{ background:#59b7f9;text-align:left; padding:10px; font-size:14px; color:#fff; font-family:Arial, Helvetica, sans-serif}
.attrlist table tr td,.inslist table tr td			{ text-align:left; padding:10px;}
.attrlist table tr td a,.inslist table tr td a 		{ text-decoration:none; color:#000000}
.tbltxtbox, #datepicker			{ width:200px !important; height:25px !important; padding:0 !important; margin:0 !important; color:#000}
.selectbox						{ width:200px; height:25px; margin:0; padding:0}
.attrlist table tr td a:hover	{ text-decoration:underline}
.hdnfrm .newAttr				{ padding:0 0 0 30px;  width:320px}
.newAttr input				{ background:none; padding:5px; margin:0; width:190px; float:right; line-height:25px; margin:5px 0 5px 0;border-radius:5px; border:1px solid #ccc;}
.newAttr input:hover			{ background:#f9f9f9; color:#555}
.newAttr input:focus			{ background:#f9f9f9; color:#555}
.newAttr label				{ float:left; font-size:12px; margin:10px 0 0 0}
.newAttr .submitbtn			{ width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; margin:5px 0 10px 0}
.newAttr .submitbtn:hover		{ background:#68c1ff; border:1px solid #666666;}
.edtattrfrm						{ padding:10px 30px }
.edtattrfrm label				{ margin:10px 0 0 0; float:left; font-size:13px;}
.edtattrfrm input				{ border-radius:5px; border:1px solid #ccc;margin:5px 0 6px 0; width:190px; padding:10px; float:right }
.edtattrfrm .submitbtn 			{ float:right; width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold}
/******************* Attributes Page*******************/
/******************* Insurance Page*******************/
.boxbody ul.cmpnylst    		{ list-style:none; padding:0; margin:0}
.boxbody ul.cmpnylst li   		{ font-size:13px; padding:3px 0}
.hdncmpnyfrm					{ display:none; width:250px; height:auto; padding:0 0 0 0}
.hdncmpnyfrm form				{ height:auto; padding-top:10px}
.hdncmpnyfrm input[type=text]	{ background:none; padding:0; margin:0; width:150px; float:right; height:25px; line-height:25px; margin: 0}
.hdncmpnyfrm label				{ float:left; font-size:12px; margin:0 ; padding:0 ; color:#000}
.hdncmpnyfrm .submitbtn			{ float:right; width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; padding:5px 0; margin:10px 0}
.addcmpny						{padding:20px 0 0 0; display:block}
.addcmpny a						{ text-decoration:none; font-size:14px; line-height:15px; color:#f0920d; font-weight:bold; }
#cmpnyname						{ margin:0 !important; padding:0 !important; width:140px !important; height:25px !important}
.submitTipbtn					{ float:left!important}
.delbtn							{ float:right}
.cmpnylst li						{ padding:5px 0 0 0}
#policy2,#policy1,#hdncmpnyfrm,#hdnaddpolicyfrm					{ display:none}
/******************* Insurance Page*******************/
/******************* Client Page*******************/
.clientlist 						{ padding:25px 30px}
.clientlist table					{ padding:0; margin:0; border-color:#ccc}
.clientlist table tr.evnrow			{ background-color:#ebebeb}
.clientlist table tr th				{ background:#59b7f9;text-align:left; padding:10px; font-size:14px; color:#fff; font-family:Arial, Helvetica, sans-serif}
.clientlist table tr td				{ text-align:left; padding:10px;}
.clientlist table tr td a 			{ text-decoration:none; color:#000000}
.editclientfrm						{ padding:10px 20px }
.editclientfrm label				{ margin:10px 0 0 0; float:left; font-size:13px;}
.editclientfrm input				{ border-radius:5px; border:1px solid #ccc;margin:5px 0 6px 0; width:190px; padding:10px; float:right }
.editclientfrm .submitbtn 			{ float:right; width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold}
/******************* Client Page*******************/

/******************* Query Page*******************/

ul.css-tabs 						{border-bottom: 1px solid #666666; height: 30px;margin: 0 !important;padding: 0;list-style:none}
ul.css-tabs li						{ display:inline; padding:0 10px;}
ul.css-tabs a						{-moz-border-bottom-colors: none; -moz-border-left-colors: none; -moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #EFEFEF;border-color: #666666 #666666 -moz-use-text-color;border-image: none;border-style: solid solid none;border-width: 1px 1px 0;color: #777777;display: block;float: left;font-size: 13px;height: 18px;margin-right: 2px;outline: 0 none;padding: 5px 30px;position: relative;text-decoration: none;top: 1px;}
.css-panes div 						{-moz-border-bottom-colors: none;-moz-border-left-colors: none;-moz-border-right-colors: none;-moz-border-top-colors: none;background-color: #DDDDDD;border-color: #666666;border-image: none;border-style: solid;border-width: 0 1px 1px;display: none;min-height: 150px;padding: 15px 20px;}
ul.css-tabs a.current 				{background-color: #DDDDDD;border-bottom: 1px solid #DDDDDD;color: #000000;cursor: default;}
#tabs-2 .query						{ padding:10px 25px;}
.query ul.querydetails				{ list-style:none; padding:0 0 0 20px; margin:0}
.query ul.querydetails li			{ display:inline; border-right:1px solid #000; padding:0 5px 0 5px}
ul.querydetails li.last				{ border-right:none}
ul.querymenu						{ list-style:none; padding:0; margin:0;  padding:10px 0}
ul.querymenu li						{ display:inline; font-size:12px; font-weight:bold}
ul.querymenu li a					{ text-decoration:none;padding:5px 20px; background:#d7ecf5; border-radius:5px; border:1px solid #d7ecf5; color:#000 }
ul.querymenu li a.hightlight		{ text-decoration:none;padding:5px 20px; background:#59b7f9; border-radius:5px; border:1px solid #d7ecf5; color:#fff}
ul.querymenu li a:hover				{ background:#59b7f9;color:#fff}
.hdnanssectn						{ display:none}
.hdnanssectn textarea				{ width: 600px; height: 200px}
.hdnanssectn #archiveans			{ margin:10px 10px 10px 0}
/******************* Query Page*******************/
/******************* Conversation Page*******************/
.heading							{ color:#0862a7; font-size:22px; line-height:26px; font-weight:bold; padding:15px 25px; display:block}
.convrstn							{ width:550px; border:1px solid #ccc; border-radius:8px; margin:0 25px 30px 25px;}
.evn								{float:right; background:#d7ecf5;}
.odd								{float:left; background:#eeeeee;}
.convrstn p							{ padding:0 15px}
.convrstn ul						{list-style:none; padding:0 0 10px 20px; margin:0}
.convrstn ul li						{ display:inline}
/******************* Conversation Page*******************/
.transquery select					{ width:200px;}
.transferbtn 						{ width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; padding:5px 0; margin:0 20px}
.transferbtn:hover					{ background:#68c1ff; border:1px solid #666666;}
#archivequery textarea				{ width: 380px; height: 200px; margin:0 0 0 25px;}
#archivequery label					{ margin:10px 0 0 25px; float:left; font-size:13px;}
#archivequery input					{ border-radius:5px; border:1px solid #ccc;margin:10px 25px 6px 0; width:190px; padding:5px; float:right }
#archivequery select				{margin:5px 25px 6px 0; width:200px; padding:5px; float:right}
#archivequery .addarchivebtn		{ width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; padding:5px 0; margin:15px 20px}
#archivequery .addarchivebtn:hover	{ background:#68c1ff; border:1px solid #666666;}
#importqueryfrm label					{ margin:10px 0 0 25px; float:left; font-size:13px;}
#importqueryfrm input					{ border-radius:5px; border:1px solid #ccc;margin:10px 25px 6px 0; width:190px; padding:5px; float:right }
#importqueryfrm select				{margin:5px 25px 10px 0; width:200px; padding:5px; float:right}
#importqueryfrm .addimportbtn		{ width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; padding:5px 0; margin:15px 20px}#importqueryfrm textarea			{ width: 380px; height: 200px; margin:0 0 0 25px;}
#attr1,#attr2,#artcle1,#artcle2						{display:none}
.massmsg							{ width:450px;}
.massmsg label						{ float:left;margin:15px 0 0 0}
.massmsg label.dob					{ margin:0}
.massmsg input,.massmsg select				{float:right; width:200px; height:25px; margin:15px 0 0 0}
.massmsg .radiobtn					{ float:right;width:200px; height:25px; margin:15px 0 10px 0}
.radiobtn span						{width:200px; height:25px;}
.radiobtn input						{float:left; margin:0 10px 0 0; width:auto; height:auto}
.massmsg textarea					{ width:500px; height:250px; float:left; padding:20px 0 0 0}
.massmsg #msgtitle					{ margin:15px 0 }
.massmsglst							{ padding:10px 25px;}
.massmsglst .msgdetails				{ list-style:none; padding:0; margin:0}
.massmsglst .msgdetails li			{ display:inline;border-right:1px solid #000; padding:0 5px 0 5px}
.massmsglst .edtbtn					{width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; margin:10px 0 0 0; padding:5px 0}
.massmsglst .edtbtn:hover			{ background:#68c1ff; border:1px solid #666666;}
#importmsgfrm select				{margin:5px 25px 10px 0; width:200px; padding:5px; float:right}
#importmsgfrm textarea					{ width:350px; height:200px;}
#importmsgfrm .addimportbtn		{ width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; padding:5px 0; margin:15px 0}
#archivemsgfrm textarea				{ width: 380px; height: 200px; margin:0 0 0 25px;}
#archivemsgfrm label					{ margin:10px 0 0 25px; float:left; font-size:13px;}
#archivemsgfrm input					{ border-radius:5px; border:1px solid #ccc;margin:10px 25px 6px 0; width:190px; padding:5px; float:right }
#archivemsgfrm select				{margin:5px 25px 6px 0; width:200px; padding:5px; float:right}
#archivemsgfrm .addarchivebtn		{ width: 80px;background:#31b2eb; border-radius:5px; border:1px solid #330099; cursor:pointer; color:#fff; font-weight:bold; padding:5px 0; margin:15px 20px}
#archivemsgfrm .addarchivebtn:hover	{ background:#68c1ff; border:1px solid #666666;}
