body {
margin:0px;
padding:0px;
font-family:Tahoma, Arial;
font-size:12px;
color:#333333;}

p {
margin:0;
padding:0;}

a {
text-decoration:none;}
 
.wrapper {
width:100%;
height:auto;
margin:0px auto;}

.header {
width:100%;
height:100px;
border-bottom: 20px solid #eb7c1a;
padding-bottom:5px;}

.selectbox {
width:200px;
height:10px;
float:left;
margin-left:20px;}

.selectbox select {
width:200px;
    padding:3px;
    margin:70px 0 0 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;}


.logo {
width:138px;
height:79px;
float:right;
margin-right:20px;}

.username {
margin:0;
padding:0;
float:right;
clear:both;
margin-right:25px;}

.username img {
margin:3px 0 0 0px;}

.username a {
color:#444444;
font-weight:bold;
font-size:14px;
margin:0 0 0 2px;}

.banner {
width:1024px;
height:360px;
margin:0px auto;
position:relative;}

.border1 {
width:100%;
height:20px;
background:#eb7c1a;}

.banner img {
float:right;}

.banner .querrybanner {
width:420px;
height:210px;
background:#eb7c1a;
position:absolute;
top:0;
left:0;
margin:80px 0 0 20px;
opacity:0.5;
filter:alpha(opacity=50);}

.querrybanner p {
font-size:30px;
text-align:right;
color:#fff;
line-height:45px;
font-weight:normal;
margin:40px 12px 0 0;}

.container {
width:100%;
height:auto;}

.querry {
width:415px;
height:auto;
margin-left:20px;
float:left;}

.querry p {
font-size:16px;
font-weight:bold;
margin-top:20px;}

.querry textarea {
margin:10px 0 0 0;
width:415px;
padding:0;}

.querry .attach {
width:418px;
height:35px;
background:#d9d9d9;
margin:0;
padding:0;}

.querry .attach img {
border-right:1px solid #7e7e7e;
padding:8px 10px 8px 0;
margin-left:10px;
float:left;
cursor:pointer;}

.querry .attach p {
font-size:12px;
padding:8px 0;
margin:0 10px;
float:left;
color:#7e7e7e;}

.querry input[type=button] {
height:auto;      /* increase the height */
line-height: 25px; /* vertically align the text */
margin:0px;
border:none;
width: 100px;
float:right;
font-weight:bold;
border-left:1px solid #7e7e7e;
padding:5px 10px 5px 0;}

.chat {
width:200px;
height:auto;
float:left;
clear:both;
margin-left:20px;}

.chat .box1, .box2 {
width:335px;
height:105px;
margin:20px 0;
padding:20px 40px;
border:1px solid #9d9d9d;
background:#d2cfcf;}

.chat .box2 {
width:335px;
height:105px;
margin:20px 0 20px 375px;
padding:20px 40px;
border:1px solid #ac7d54;
background:#ffd2aa;}

.chat .box2 .filepdf {
background:#d8b08d;}

.chattext {
width:315px;
display:block;
clear:both;
font-size:13px;}

.chat .filepdf {
width:auto;
height:18px;
display:block;
background:#bdbdbd;
margin-top:8px;
padding:5px;
float:left;
position:relative;
cursor:pointer;}

.chat .filepdf a {
color:#333;
margin:0;
padding:0;
font-weight:bold;
margin-left:26px;}

.chat img {
top:0;
bottom:0;
left:0;
position:absolute;
margin:2px 0 0 5px;}

.usernametitle {
float:right;
margin:13px 0;
font-weight:bold;
color:#777;

}
.popupBox 						{ display: none; position:absolute; width:400px; left: 50%;top:25%;margin-left:-200px;z-index: 2000;border-radius: 8px; border:1px solid #003366;background:#eeeeee; -moz-box-shadow: 0px 0px 10px 3px #333;
-webkit-box-shadow: 0px 0px 10px 3px #333;
box-shadow: 0px 0px 10px 3px #333;}
.popupBox > .boxheader 			{ background: #59b7f9; padding:10px;color:#FFF;font-weight:bold; font-size:14px; border-radius:8px 8px 0 0}
.popupBox > .boxbody 			{ background: #FFF;padding:10px;color:#000;font-size:12px;}
.popupBox > .boxfooter 			{ background: #F2F2F2;border-top: #003366 1px solid; padding:6px;border-radius:0 0 8px 8px}
.popupBox > .boxbody >h4		{font-family: Geneva, Arial, Helvetica, sans-serif; font-size: 20px; color:#0862a7; padding:10px 0; margin:0}
