body {
	margin:0px;
	padding:0px;
	font-family:Tahoma, Arial;
	font-size:12px;
	color:#333333;}

p {
	margin:0;
	padding:0;}

a {
	text-decoration:none;}

h2 {
	margin:10px 10px;
	padding:0;
	font-size:18px;}

.border {
	height: 1px;
	border-bottom: 1px dashed #a5a5a5;
	width: 100%;
	margin: 5px auto;}

.clear {
	clear:both}

.wrapper {
	width:100%;
	height:auto;
	margin:0px auto;}

.popupbox {
	width:255px;
	height:130px;
	position:absolute;
	margin:12px 0 0 250px;
	display:none;
	z-index:999;}

.header {
	width:100%;
	height:100px;
	border-bottom: 20px solid #eb7c1a;
	padding-bottom:5px;}

.nav {
	width:100%;
	height:50px;
	background:#eb7c1a;
	}

.selectbox {
	width:250px;
	height:10px;
	float:left;
	margin-left:20px;}

.selectbox select {
	width:250px;
    padding:3px;
    margin:70px 0 0 0;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
    background: #f8f8f8;
    color:#888;
    border:none;
    outline:none;
    display: inline-block;
    cursor:pointer;}


.logo {
	width:138px;
	height:79px;
	float:right;
	margin-right:20px;}

.username {
	margin:0;
	padding:0;
	float:right;
	clear:both;
	margin-right:30px;}

.username img {
	margin:4px 0 0 10px;}

.username #searchlink {
	color:#444444;
	font-weight:bold;
	font-size:14px;
	margin:0;
	background:url(../images/arrow.png) no-repeat right 7px;
	padding-right:12px;}

.username #subcontent {
	position:absolute;
	z-index:999;
	visibility: hidden;
	border: 1px solid #cbcbcb;
	background-color: white;
	padding:5px 8px;
	margin-top:5px;
	width: 130px;
	height:auto;}

.username #subcontent ul {
	list-style:none;
	padding:0;
	margin:0;}
	
.username #subcontent ul li {
	padding:2px 0;
	text-align:right;}

.username #subcontent ul li a {
	font-size:11px;
	color:#666;}

.banner {
	width:940px;
	height:360px;
	margin:0px auto;
	position:relative;}

.border1 {
	width:100%;
	height:20px;
	background:#eb7c1a;}

.banner img {
	float:right;}

.banner .querrybanner {
	width:400px;
	height:210px;
	background:#eb7c1a;
	position:absolute;
	top:0;
	left:0;
	margin:80px 0 0 20px;
	opacity:0.5;
	filter:alpha(opacity=50);}

.querrybanner p {
	font-size:2.4em;
	text-align:right;
	color:#fff;
	line-height:45px;
	font-weight:normal;
	margin:40px 12px 0 0;}

.container {
	width:940px;
	height:auto;
	margin:0px auto;}

.querry {
	width:490px;
	height:auto;
	margin-left:20px;
	float:left;}

.querry p {
	font-size:16px;
	font-weight:bold;
	margin-top:20px;
	margin-bottom:10px;}

.querry textarea {
	width:490px;
	height:auto;
	padding:0;}

.querry #view_filenames h4{
color:#00364e;
margin:0px;
padding:10px 0 10px 5px;
background:#eee;
}
.querry #view_filenames{
min-width:470px;
background:#d0d0d0;
padding:10px;
display:block;
color:#007cb1;
font-weight:bold;
display:none;
margin-top:20px;
clear:both;
min-height:100px;
}
.querry .attach {
	width:490px;
	height:35px;
	background:#cfd1cf;
	margin:0;
	padding:0;
	margin-top: -12px;}

.querry .attach img {
	border-right:1px solid #7e7e7e;
	padding:8px 10px 8px 0;
	margin-left:10px;
	float:left;
	cursor:pointer;}

.querry .attach p {
	font-size:12px;
	padding:8px 0;
	margin:0 10px;
	float:left;
	color:#7e7e7e;}

.querry input[type=submit] {
	height:auto;      /* increase the height */
	line-height: 25px; /* vertically align the text */
	margin:0px;
	border:none;
	width: 100px;
	float:right;
	font-weight:bold;
	border-left:1px solid #7e7e7e;
	padding:5px 10px 5px 0;
	background:#cfd1cf;}

.chat {
	width:940px;
	height:auto;
	float:left;
	margin-left:20px;}

.chat .box1 {
	width:410px;
	height:auto;
	margin:20px 0 0 0;
	padding:20px 40px;
	border:1px solid #9d9d9d;
	background:#e1e1e1;}

.chat .box1 .chattext {
	font-size:13px;
	color:#666;}

.chat .box2 {
	width:410px;
	height:auto;
	margin:20px 0 0 0;
	float:right;
	padding:20px 40px;
	border:1px solid #5299b8;
	background:#67c2ea;}

.chat .box2 .chattext {
	font-size:13px;
	color:#18526b;}



.chat .filepdf {
	width:auto;
	height:18px;
	display:block;
	margin-top:10px;
	padding:5px;
	position:relative;
	cursor:pointer;}

.chat .filepdf a {
	color:#333;
	margin:0;
	padding:0;
	font-weight:bold;
	margin-left:26px;}

.chat img {
	top:0;
	bottom:0;
	left:0;
	position:absolute;
	margin:2px 0 0 5px;}

.usernametitle {
	float:right;
	margin:16px 0 0 0;
	font-weight:bold;
	color:#777;}

.chat .box2 .usernametitle {
	color:#585858;}

.articles {
	background:#FFF;
	border:1px solid #c0d5dd;
	margin:15px 0 0 0;
	padding:0;}
	
.articleheader {
	padding:10px 5px;
	margin:0;
	background:#d2f2ff;
	border-bottom:1px solid #c0d5dd;
	color:#1f5d96;}

.articlecontent ul {
	list-style:none;
	margin:0 25px;
	padding:10px 0;}
	
.articlecontent ul li {
	padding:2px 0;}
	
.articlecontent ul li a {
	color:#5555ff;}

/*-----------------Input css---------------------*/

.autocomplete {
	border:1px solid #cccccc;
	color:#b4b4b4;
	height:20px;}

.rupeetextbox {
	background:#fff url(../images/rupee.png) no-repeat 2px center;
	background-size:12px;
	padding-left:22px;}

.emailidbox {
	background:#fff url(../images/email.png) no-repeat 2px center;
	background-size:18px;
	padding-left:22px;}

.datepicker {
	background:#fff url(../images/date.png) no-repeat 2px center;
	background-size:16px;
	padding-left:22px;}

.location {
	background:url(../images/places.png) no-repeat 2px center;
	background-size:10px;
	padding-left:22px;
	}

.datebox {
	border:1px solid #cccccc;
	color:#b4b4b4;
	height:20px;
	width:40px;
	padding-left:4px;}

.monthbox {
	height:24px;}

.dropdownbox {
	width:150px;
	height:24px;
	background:#fff;
	border:1px solid #cccccc;
	color:#b4b4b4;	
	}
.dropdownbox.medium {
	width:75px;
	margin-left:6px;
	}
.numberbox {
	width:60px;
	height:20px;
	background:#fff;
	border:1px solid #cccccc;
	color:#b4b4b4;	
	}