@charset "utf-8";
/* CSS Document */
html {
	height:100%;
	}
body {
	margin:0px;
	padding:0px;
	height:100%;
	font-size:100%;
	overflow:auto;
	background:#F9F9F9;
	font-family:Arial, Helvetica, sans-serif;
}

#wrapper {
	width:980px;
	margin:0px auto;
	position:relative;
	border:1px #CCC solid;
	border-top:none;
	min-height:100%;
	background:#FFF;
	overflow:hidden;
}
#header {
	width:100%;
	height:85px;
	padding:0;
	margin:0px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	/*box-shadow:0px 0px 5px #333;*/
}

#logo {
	width:250px;
	margin-left:3%;
	float:left;
}
#logo h4{
	margin:0px;
	padding:0px;
	color:#390;
	font-size:22px;
	float:left;
	text-shadow:0 0 2px #9F0;
}
.login-box{
	width:600px;
	float:right;
	text-align:right;
	margin-right:10px;
	margin-top:30px;
}
.login-box .input{
	width:200px;
	margin:0px auto;
	padding:5px;
	border:1px #A4E1FF solid;
	color:#333;
	clear:both;
}
.login-box .button {
	width:80px;
	padding:5px 10px;
	border:none;
	background: #9dd53a; /* Old browsers */
background: -moz-linear-gradient(top,  #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #9dd53a 0%,#a1d54f 50%,#80c217 51%,#7cbc0a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 ); /* IE6-9 */

cursor:pointer;

}
.login-box .button:hover {
background: #bfd255; /* Old browsers */
background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(51%,#72aa00), color-stop(100%,#9ecb2d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* IE10+ */
background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
}

.forgotpass {
	font-size:12px;
	color:#888;
	float:left;
	clear:both;
	margin:2px 0 0 302px;}

.loginpass {
	font-size:12px;
	color:#888;
	float:left;
	clear:both;
	margin:2px 0 0 272px;}

#nav{
	list-style:none;
	font-size:12px;
	font-weight:bold;
	margin-bottom:10px;
	margin:0px;
	padding:0px;
	float:right;
}
#nav li{
	float:left;
	margin-right:10px;
	position:relative;
}
#nav a{
	display:block;
	padding:5px;
	color:#333;
	text-decoration:none;
}
#nav a:hover{
	color:#000;
	text-decoration:underline;
}

/*--- DROPDOWN ---*/
#nav ul{
	list-style:none;
	position:absolute;
	left:-9999px; 
	margin:0px;
	padding:0px;
	background: #F9F9F9;
	text-align:left;
}
#nav ul li{
	padding-top:1px; 
	float:none;
}
#nav ul a{
	white-space:nowrap;
}
#nav li:hover ul{
	left:0; 
}
#nav li:hover a{ 
	text-decoration:underline;
}
#nav li:hover ul a{
	text-decoration:none;
}
#nav li:hover ul li a:hover{
}



.banner-box {
	width:63%;
	padding:0%;
	float:left;
}

.link {
	margin-top:200px; margin-right:60px; float:right; position:relative;
}
.link .account {
	width:250px;
	height:50px;
	padding:10px 20px;
	font-size:16px;
	cursor:pointer;
	border:1px solid #ff6262; 
	-webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px;
	text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; text-align: center; color: #FFFFFF; 
	background-color: #ff9a9a;
	 background-image: -webkit-gradient(linear, left top, left bottom, from(#ff9a9a), to(#ff4040));
	 background-image: -webkit-linear-gradient(top, #ff9a9a, #ff4040);
	 background-image: -moz-linear-gradient(top, #ff9a9a, #ff4040);
	 background-image: -ms-linear-gradient(top, #ff9a9a, #ff4040);
	 background-image: -o-linear-gradient(top, #ff9a9a, #ff4040);
	 background-image: linear-gradient(to bottom, #ff9a9a, #ff4040);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff9a9a, endColorstr=#ff4040);
}
.link .account:hover {
	 border:1px solid #ff3434; background-color: #ff6767;
 background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6767), top(#ff0d0d));
 background-image: -webkit-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -moz-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -ms-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: -o-linear-gradient(top, #ff6767, #ff0d0d);
 background-image: linear-gradient(to bottom, #ff6767, #ff0d0d);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ff6767, endColorstr=#ff0d0d);
	
}
#register-box {
	width:33%;
	padding:2% 2% 1% 2%;
	float:right;
	background:#c6e2f6;
	z-index:6665; position:absolute; top:10px; right:10px;
}
#register-box h3{
	margin:0;
	padding:0px;
	color:#0061c4;
}
#register-box p{
	font-size:14px;
	color:#333;
	margin:7px 0px;
}
#register-box p a{
	color:#333;
	font-size:11px;
	text-decoration:none;
}
#register-box p a:hover{
	color:#069;
	text-decoration:underline;
}
.border {
	height: 1px;
	border-bottom: 1px dashed #a5a5a5;
	width: 100%;
	margin: 5px auto;
}
#register-box .input{
	float:right;
	width:170px;
	margin:0px auto;
	padding:5px;
	border:1px #A4E1FF solid;
	color:#333;
	clear:both;
}
#register-box input::-webkit-input-placeholder {
  color: #333;
}
#register-box input:-moz-placeholder {
  color: #333;
}
#register-box select{
	float:right;
	width:183px;
	margin:0px auto;
	padding:5px;
	border:1px #A4E1FF solid;
	color:#333;
	clear:both;
}
#register-box .button {
	float:none;
	width:80px;
	padding:5px 10px;
	border:none;
	background: #f6f8f9; /* Old browsers */
background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
box-shadow:0px 0px 3px #333;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
cursor:pointer;
margin-top:12px;

}
#register-box .button:hover {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.main {
	position:relative;
}


#footer{
	width:980px;
	height:auto;
	text-align:center;
	font-size:12px;
	color:#333;
	position:absolute;
	bottom:0;
}
#footer a{
	color:#333;
	font-size:11px;
	min-width: 50px;
	margin-left: 2px;
	margin-right: 2px;
	text-decoration:none;
}

#footer ul {
	margin:0px auto;
	padding:0px;
	font-size:12px;
	list-style:none;
}
#footer ul li {
	display:inline;
	padding: 0 10px;
	border-right:1px #CCC solid;
}
#footer ul .last {
	border-right:none;
}
#footer p {
	font-size:11px;
}
#footer a {
	color:#333;
}
#footer a:hover {
	color:#069;
}
.close {
width:20px; height:20px; float:right; top:0px;}
#pop{
	display: block;
	width: 157px;
	height:40px;
	text-align: center;
	border-radius: 5px;
	text-decoration: none;
	margin: 0 auto;
	background:url(../www.fintotal.com/images/newslatter.png) no-repeat;
}
#overlay_form {
position: absolute;
border: 5px solid #adcdff;
padding: 0px;
background: white;
width: 50%;
min-height: 300px;
box-shadow: 0px 0px 5px #333;
z-index: 456563;
}
#overlay_form .newslatter {
	width:80%;
}
#overlay_form .button {
	width:150px;
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top,  #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(50%,#2989d8), color-stop(51%,#207cca), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	padding:5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#overlay_form .button:hover {
	background: #7db9e8; /* Old browsers */
	background: -moz-linear-gradient(top,  #7db9e8 0%, #207cca 51%, #2989d8 52%, #1e5799 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(51%,#207cca), color-stop(52%,#2989d8), color-stop(99%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#207cca 51%,#2989d8 52%,#1e5799 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 0%,#207cca 51%,#2989d8 52%,#1e5799 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 0%,#207cca 51%,#2989d8 52%,#1e5799 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #7db9e8 0%,#207cca 51%,#2989d8 52%,#1e5799 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}



#forgot-password {
position: absolute;
border: 5px solid #adcdff;
padding: 0px;
background: white;
width: 50%;
min-height: 300px;
box-shadow: 0px 0px 5px #333;
z-index: 456352;
}

.textarea {
	width:60%;
	margin:10px auto;
	height:80px;
	border:1px #CCC solid;
}
.post-button {
	margin-top:20px;
	border:none;
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	box-shadow:0px 0px 2px #333;
	cursor:pointer;
	padding: 8px 20px;
	width: 100px;
	height: 30px;
	font-weight: bold;
	font-size: 14px;

}
.post-button:hover {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.file_browse {
    width: 93px;
    height: 28px;
    background:url(images/upload.png) no-repeat left top;
	color:#FFF;
    border:none;
    overflow:hidden;
}


.content {
	width: 860px;
	min-height:600px;
	margin:0px auto;
	margin-bottom:50px;
	padding: 40px 20px 22px 20px;
	overflow:auto;
	border:1px #CCC solid;
	border-top:none;
}

.host {
	width:60%; float:right; 
	margin:10px 0; 
	background:#f5fadd; position:relative; clear:both; padding:10px; font-size:14px; color:#333;
	border:1px #d9dfb7 solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.gust {
	width:60%; float:left; margin:10px 0; background:#e9f3fe; position:relative; clear:both; padding:10px; font-size:14px;
	border:1px #c3d9f2 solid;
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.host p, .gust p {
	margin-bottom:30px;
}
.host .identification, .gust .identification {
	bottom:5px; position:absolute; width:100%;
}
.download {
	float:left; width:50%; bottom: 5px; position: absolute;
}
.download a{ color:#069; text-decoration:none; background:url(images/attach.png) left no-repeat; padding:5px; padding-left:23px; }
.download a:hover{ text-decoration:underline; }
.id-name {
	float:right; width:49%; clear:both; text-align:right; margin-right:20px;
}
.change-password {
	width: 40%;
	margin:10px auto;
	padding: 0 0px 22px 0;
	background:#F9F9F9;
	border:1px #CCC solid;
}

.change-password h4{
	margin-left:10px;
	color:#036;
}
.change-password p {
	width:95%;
	margin:5px auto;
	font-size:14PX;
}
.change-password p .input{
	float:right;
	width:50%;
	margin:0px auto;
	padding:5px;
	border:1px #A4E1FF solid;
	color:#333;
	clear:both;
}
.change-password .submit {
	width:80px;
	padding:5px 10px;
	margin-top:10px;
	margin-left:100px;
	border:none;
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	box-shadow:0px 0px 2px #333;
	cursor:pointer;
}
.change-password .submit:hover {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.change-password .reset {
	margin-left:10px;
}






/* http://www.menucool.com */

#sliderFrame {
	position:relative;
	width:630px;
	margin: 0 auto;
}
   
#slider {
    width:630px;
	height:286px;/* Make it the same size as your images */
    background:#fff url(images/loading.gif) no-repeat 50% 50%;
    position:relative;
}
#slider img {
	position:absolute;
	border:none;
	display:none;
}

/* the link style (if an image is wrapped in a link) */
#slider a.imgLink {
	z-index:2;
	display:none;position:absolute;
	top:0px;left:0px;border:0;padding:0;margin:0;
	width:100%;height:100%;
}

/* Caption styles */



/* ------ built-in navigation bullets wrapper ------*/
div.navBulletsWrapper  {
	top:320px; left:280px; /* Its position is relative to the #slider */
	width:150px;
	background:none;
	padding-left:20px;
	position:relative;
	z-index:5;
	cursor:pointer;
}

/* each bullet */
div.navBulletsWrapper div 
{
    width:11px; height:11px;
    background:transparent url(images/bullet.png) no-repeat 0 0;
    float:left;overflow:hidden;vertical-align:middle;cursor:pointer;
    margin-right:11px;/* distance between each bullet*/
    _position:relative;/*IE6 hack*/
}

div.navBulletsWrapper div.active {background-position:0 -11px;}


.description {
	margin-top:60px;
	text-align:center;
}
.description h2, .description h4  {
	margin:5px;
	padding:0px;
	color:#069;
}
.description h2 {
	color:#900;
}


.profile {
	width:450px;
	float:left;
	margin:10px 0 10px 30px;
	padding:10px;
	background:#F9F9F9;
	border:1px #CCC solid;
}
.profile h4{
	padding:0px;
	margin:10px;
	margin-left:10px;
	color:#036;
}
.profile p {
	width:95%;
	margin:5px auto;
	font-size:14PX;
}
.profile p .input{
	float:right;
	width:200px;
	margin:0px auto;
	padding:5px;
	border:1px #A4E1FF solid;
	color:#333;
	clear:both;
}
.profile p span.loginid{
	float:right;
	width:200px;
	margin:0px auto;
	margin-bottom:10px;
	padding:5px;
	color:#333;
	clear:both;
}
.profile p .select{
	float:right;
	width:213px;
	margin:0px auto;
	padding:5px;
	border:1px #A4E1FF solid;
	color:#999;
	clear:both;
}
.profile .submit {
	width:80px;
	padding:5px 10px;
	margin-top:10px;
	margin-left:100px;
	border:none;
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	box-shadow:0px 0px 2px #333;
	cursor:pointer;
}
.profile .submit:hover {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.profile .reset {
	margin-left:10px;
}




.chng-password {
	width:380px;
	float:left;
	margin:10px 0 10px 30px;
	padding:10px;
	background:#F9F9F9;
	border:1px #CCC solid;
}
.chng-password h4{
	padding:0px;
	margin:10px;
	margin-left:10px;
	color:#036;
}
.chng-password p {
	width:95%;
	margin:5px auto;
	font-size:14PX;
}
.chng-password p .input{
	float:right;
	width:200px;
	margin:0px auto;
	padding:5px;
	border:1px #A4E1FF solid;
	color:#333;
	clear:both;
}
.chng-password p span.loginid{
	float:right;
	width:200px;
	margin:0px auto;
	margin-bottom:10px;
	padding:5px;
	color:#333;
	clear:both;
}
.chng-password p .select{
	float:right;
	width:213px;
	margin:0px auto;
	padding:5px;
	border:1px #A4E1FF solid;
	color:#333;
	clear:both;
}
.chng-password .submit {
	width:80px;
	padding:5px 10px;
	margin-top:10px;
	margin-left:100px;
	border:none;
	background: #f6f8f9; /* Old browsers */
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 ); /* IE6-9 */
	box-shadow:0px 0px 2px #333;
	cursor:pointer;
}
.chng-password .submit:hover {
	background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top,  #ffffff 0%, #f1f1f1 50%, #e1e1e1 51%, #f6f6f6 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#f1f1f1), color-stop(51%,#e1e1e1), color-stop(100%,#f6f6f6)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f1f1f1 50%,#e1e1e1 51%,#f6f6f6 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}
.chng-password .reset {
	margin-left:10px;
}

.back-title a {
	color:#069;
	text-decoration:none;
	text-align:center;
}





.field { 
	padding: 5px 10px;
	width:500px;
	float:left;
	}
	
	.file-upload {
	overflow: hidden;
	display: inline-block;
	position: relative;	
	vertical-align: middle;
	text-align: center;
	color: #333;
	background:url(images/attachment.png) left no-repeat;
	cursor:pointer;
	float:left;
	margin-top:15px;
	font-size:14px;
    }
	



.file-upload input {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;

	/* Loses tab index in webkit if width is set to 0 */
	opacity: 0;
	filter: alpha(opacity=0);
	}
	
.file-upload span {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;

	/* Adjust button text vertical alignment */
	padding-top: .45em;
	}

/* Adjust the button size */	
.file-upload,
.file-upload span { padding:10px 20px; height:15px; }	

.file-upload-status {
	margin-left: 10px;
	vertical-align: middle;
	padding: 7px 11px;
	font-weight: bold;	
	font-size: 14px;
	color: #888;
	background: #f8f8f8;
	border: 1px solid #ddd;
	float: left;
	margin-top: 10px;
	}
